.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    width: var(--default-layout-width);
    max-width: 100%;
    margin-top: var(--default-layout-header-height);
    padding: 0 12px;
}

.content {
    margin-left: 390px;
    margin-top: 20px;
}
