.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    width: var(--default-layout-width);
    margin-top: var(--default-layout-header-height);
    padding: 16px var(--default-layout-horizontal-spacer);
}
