.wrapper {
    display: flex;
    flex-direction: row;
    position: relative;
    cursor: pointer;

    &::after {
        content: '';
        position: absolute;
        left: 0px;
        bottom: 0px;
        width: 100%;
        height: 1px;
        transform: scaleY(0.5);
        transform-origin: center bottom;
        background-color: rgba(22, 24, 35, 0.2);
    }

    &:hover {
        background: rgba(22, 24, 35, 0.03);
    }
}

.avatar {
    width: 60px;
    height: 60px;
    margin: 16px;
    border-radius: 50%;
    margin-right: 12px;
    object-fit: cover;
}

.info {
    color: rgb(22, 24, 35);
    font-size: 14px;
    line-height: 20px;
    flex: 1 1 0%;
    margin: 16px 0px;
}

.username {
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 25px;
}

.name {
    color: rgba(22, 24, 35, 0.75);
    font-size: 1.4rem;
    line-height: 20px;
    margin-top: 1px;
}

.verified {
    color: #20d5ec;
    margin-left: 4px;
    width: 14px;
}

.bio {
    margin-top: 4px;
}
