.wrapper {
    right: 24px;
    position: fixed;
    bottom: 0px;
    z-index: 7;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 8px;
    transform: translateY(40px);
    transition: all 400ms cubic-bezier(0.65, 0, 0.35, 1);

    &.active {
        bottom: 45px;
    }
}

.container {
    margin-bottom: 12px;
    display: flex;
    position: relative;
}

.getapp-btn {
    border: none;
    background: none;
    outline: none;
    padding: 0;
    color: rgba(22, 24, 35, 0.75);
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    position: relative;
    right: 0;
    bottom: 0;
    padding: 0 8px;
    min-width: 90px;
    height: 32px;
    box-shadow: 0 2px 8px rgb(0 0 0 / 6%);
    border-radius: 52px;
    cursor: pointer;
    line-height: 30px;
    text-align: center;
    white-space: nowrap;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(22, 24, 35, 0.12);
    background-color: rgba(255, 255, 255, 1);
    transition: transform 0.3s cubic-bezier(0.4, 0.14, 0.3, 1);
    transform-origin: right bottom;
    transform: none;

    &:hover {
        border-color: rgba(22, 24, 35, 0.2);
        background-color: rgba(255, 255, 255, 1);
    }
}

.back-to-top {
    border: none;
    background: none;
    outline: none;
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 52px;
    background: var(--primary);
    box-shadow: 0 2px 8px rgb(0 0 0 / 6%);
}

//Tippy CSS
.tippy-wrapper {
    position: relative;
    transition: all 0.3s cubic-bezier(0.4, 0.14, 0.3, 1) 0s;
    transform-origin: right bottom;
    transform: none;
}

.tippy-inner {
    margin-right: 48px;
    margin-left: 16px;
    font-weight: 600;

    .item {
        margin: 6px 0;
        display: flex;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        padding: 8px;
        border-radius: 8px;
        cursor: pointer;

        .icon {
            margin-right: 8px;
        }

        span {
            white-space: nowrap;
        }

        &:hover {
            background: rgba(22, 24, 35, 0.03);
        }
    }

    .splitter {
        width: calc(100% - 16px);
        height: 1px;
        background: rgba(22, 24, 35, 0.12);
        transform: scaleY(0.5);
        left: 8px;
    }
}

.close-btn {
    right: 15px;
    position: absolute;
    top: 10px;
    cursor: pointer;
}
