.wrapper {
    --search-border-radius: 92px;
    --search-height: 46px;
    --search-top-spacer: 9px;
    --search-button-width: 52px;

    width: 100%;
    height: var(--default-layout-header-height, 60px);
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 10;
    background-color: var(--white);
}

.inner {
    height: 100%;
    width: var(--default-layout-width);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 var(--default-layout-horizontal-spacer);
}

.logo {
    display: flex;
}

.actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 265px;
}

.upload-icon {
    height: 20px;
    width: 20px;
    margin-right: 8px;
}

.actions > * {
    cursor: pointer;
}

.more-btn {
    padding: 0 2px 0 2px;
    display: flex;
}

.more-icon {
    width: 20px;
    height: 20px;
}

.action-btn {
    display: flex;

    .message-icon {
        width: 26px;
        height: 26px;
    }
}

.user-avatar {
    width: 32px;
    height: 32px;
    background: center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    border-radius: 50%;
    cursor: pointer;
}
