.wrapper {
    margin-top: -16px;
}

.tab-container {
    display: flex;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        bottom: 0;
        right: 12px;
        left: 0;
        border-bottom: 1px solid rgba(22, 24, 35, 0.12);
        -webkit-transform: scaleY(0.5);
        -moz-transform: scaleY(0.5);
        -ms-transform: scaleY(0.5);
        transform: scaleY(0.5);
    }
}

.tab {
    cursor: pointer;
    font-weight: 600;
    text-align: center;
    padding: 10px 0;
    font-size: 16px;
    line-height: 22px;
    color: rgba(22, 24, 35, 0.5);
    transition: all, 0.3s;
    width: 120px;

    &.selected {
        color: rgba(22, 24, 35, 1);
    }
}

.underline {
    transition: width 0.3s, left 0.3s, right 0.3s;
    height: 2px;
    background: rgba(22, 24, 35, 1);
    position: absolute;
    pointer-events: none;
    bottom: 0;
    left: 147px;
    width: 67px;
}

.result {
    margin-top: 16px;
    width: calc(100% - 12px);
}

.load-more {
    padding: 16px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: rgba(22, 24, 35, 0.5);
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;

    .icon {
        margin-left: 4px;
    }
}
