.wrapper {
    display: flex;
    align-items: flex-start;
    padding: 20px 0;
    max-width: 692px;
    position: relative;

    &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 1px;
        -webkit-transform: scaleY(0.5);
        -moz-transform: scaleY(0.5);
        -ms-transform: scaleY(0.5);
        transform: scaleY(0.5);
        background: rgba(22, 24, 35, 0.2);
    }
}

.avatar {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    cursor: pointer;
}

.content {
    margin-left: 12px;
    width: 624px;
}

.info-wrapper {
    display: flex;
}

.text-info {
    width: 510px;
}

.author {
    display: flex;
    cursor: pointer;

    .username {
        margin-right: 4px;
        font-weight: 700;
        font-size: 18px;
        line-height: 25px;
    }

    .fullname {
        font-weight: 400;
        font-size: 14px;
        line-height: 28px;
    }

    &:hover {
        .username {
            text-decoration: underline;
        }
    }
}

.caption {
    font-size: 16px;
    line-height: 22px;
}

.music {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    margin-top: 4px;
    margin-bottom: 12px;
    display: flex;
    align-items: center;

    .icon {
        margin-right: 5px;
    }

    &:hover {
        text-decoration: underline;
        cursor: pointer;
    }
}

.video-wrapper {
    display: flex;
    align-items: flex-end;

    .video-card {
        width: 273px;
        margin-right: 20px;
        position: relative;
        cursor: pointer;

        video {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 8px;
        }

        &:hover {
            .control-play,
            .control-volume,
            .report {
                opacity: 1;
            }
        }
    }

    .control-play {
        left: 12px;
        position: absolute;
        bottom: 12px;
        padding: 10px;
        width: 40px;
        height: 40px;
        -webkit-transition: opacity 0.3s;
        transition: opacity 0.3s;
        bottom: 26px;
        color: white;
        opacity: 0;
    }

    .control-volume {
        position: absolute;
        bottom: 37px;
        left: unset;
        right: 24px;
        -webkit-transition: opacity 0.3s;
        transition: opacity 0.3s;
        opacity: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &:hover {
            .container {
                display: block;
            }
        }

        .container {
            display: flex;
            width: 24px;
            height: 64px;
            margin: 8px 7px;
            position: relative;
            cursor: initial;
            background: rgba(22, 24, 35, 0.34);
            border-radius: 32px;
        }

        .volume-icon {
            display: flex;
        }

        input {
            -webkit-appearance: none;
            background-color: #fff;
            border-radius: 4px;
            bottom: 30px;
            height: 2px;
            position: absolute;
            right: -11px;
            -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
            width: 46px;

            &::-webkit-slider-thumb {
                -webkit-appearance: none;
                width: 12px;
                height: 12px;
                background-color: #fff;
                border-radius: 50%;
                cursor: pointer;
            }
        }
    }

    .report {
        color: rgba(255, 255, 255, 1);
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        right: 16px;
        position: absolute;
        top: 20px;
        -webkit-transition: opacity 0.3s;
        transition: opacity 0.3s;
        opacity: 0;
    }
}

.actions {
    display: flex;
    flex-direction: column;
    height: 237px;
    justify-content: space-between;

    button {
        margin-top: 8px;
        margin-bottom: 6px;
    }

    .numbers {
        color: rgba(22, 24, 35, 0.75);
        font-size: 12px;
        line-height: 17px;
        text-align: center;
        font-weight: bold;
    }
}

//Tippy CSS
.account-tab {
    width: 320px;
    padding: 20px;

    .header {
        display: flex;
        margin-bottom: 12px;
        justify-content: space-between;
        align-items: center;
    }

    .tippy-avatar {
        width: 44px;
        height: 44px;
        border-radius: 50%;
    }

    .tippy-username {
        font-size: 1.8rem;
        font-weight: 700;
    }

    .tippy-name {
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
    }

    .user-stats {
        display: flex;
        margin-top: 8px;
        font-weight: 400;
        font-size: 17px;
        line-height: 20px;
    }

    .bold {
        font-weight: 700;
    }

    .follower-stats {
        margin-right: 15px;
    }
}
