.wrapper {
    width: 356px;
    position: fixed;
    top: 0;
    bottom: 0;
    margin-top: var(--default-layout-header-height);
    min-height: 100%;
    padding: 20px 0 80px 0;
    overflow-y: scroll;

    &:hover {
        transition: opacity 2s ease;
    }

    &:not(:hover)::-webkit-scrollbar-thumb {
        background: transparent;
    }

    &::-webkit-scrollbar {
        width: 8px;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 5px;
        background: rgba(0, 0, 0, 0.05);
    }
}

.tabs {
    display: flex;
    flex-direction: column;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 8px;

    .tab-item {
        color: rgba(22, 24, 35, 1);
        display: flex;
        align-items: center;
        padding: 8px;
        border-radius: 4px;
        transition: background-color ease-in-out 200ms;

        &.active {
            color: var(--primary);

            .icon {
                display: none;
            }

            .active-icon {
                display: block;
            }
        }

        svg {
            margin-right: 8px;
        }

        &:hover {
            background: rgba(22, 24, 35, 0.03);
        }
    }
}

.active-icon {
    display: none;
}

.login {
    .detail {
        padding: 0 8px;
    }

    p {
        color: rgba(22, 24, 35, 0.5);
        font-weight: 400;
        margin-bottom: 20px;
    }

    button {
        width: 100%;
        height: 48px;
        font-weight: 700;
    }
}

.login,
.suggested,
.following,
.discover,
.footer {
    font-weight: 500;
    padding: 16px 0;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        left: 8px;
        right: 8px;
        top: 0;
        height: 1px;
        background: rgba(22, 24, 35, 0.08);
    }

    .title {
        font-size: 14px;
        line-height: 20px;
        padding: 0 8px;
        color: rgba(22, 24, 35, 0.75);
        margin-bottom: 8px;
    }

    .see-all {
        display: flex;
        flex-direction: row;
        -webkit-box-align: center;
        align-items: center;
        padding: 0px 8px;
        margin-top: 8px;
        cursor: pointer;
        font-size: 1.4rem;
        color: var(--primary);
    }
}

.discover {
    padding-bottom: 8px;

    .discover-list {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        padding-left: 8px;
    }

    .hashtag {
        display: flex;
        box-sizing: border-box;
        width: fit-content;
        max-width: 100%;
        height: 24px;
        margin-bottom: 12px;
        padding: 3px 10px;
        border: 1px solid rgba(22, 24, 35, 0.2);
        border-radius: 12px;
        background: rgb(255, 255, 255);
        margin-right: 8px;
        color: rgba(22, 24, 35, 0.75);
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        overflow: hidden;

        &:hover {
            background: rgba(22, 24, 35, 0.03);
            cursor: pointer;
        }

        svg {
            margin-right: 6px;
            flex-shrink: 0;
        }

        .text {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
    }
}

.footer {
    font-weight: 600;
    font-size: 12px;
    line-height: 17px;
    padding-left: 8px;

    .links-1,
    .links-2,
    .links-3 {
        margin-bottom: 8px;
        display: flex;
        flex-wrap: wrap;
        width: 100%;

        a {
            &:hover {
                text-decoration: underline;
            }
        }
    }

    a,
    span {
        color: rgba(22, 24, 35, 0.5);
        margin-right: 6px;
    }
}

.copyright {
    display: flex;
    align-items: center;

    p {
        margin-left: 2px;
    }
}
