.search,
.search-results {
    width: 361px;
}

.search {
    position: relative;
    width: 361px;
    height: var(--search-height);
    padding-left: 16px;
    display: flex;
    background-color: rgba(22, 24, 35, 0.06);
    border-radius: var(--search-border-radius);
    border: 1.5px solid transparent;

    input {
        flex: 1;
        height: 100%;
        color: var(--black);
        font-size: 1.6rem;
        caret-color: var(--primary);
        background-color: transparent;
        padding-right: 42px;
    }

    input:not(:placeholder-shown) ~ .search-btn {
        color: rgba(22, 24, 35, 0.75);
    }

    &::after {
        content: '';
        position: absolute;
        top: var(--search-top-spacer);
        right: var(--search-button-width);
        width: 1px;
        height: 28px;
        background-color: rgba(22, 24, 35, 0.12);
    }

    &:focus-within {
        border-color: rgba(22, 24, 35, 0.2);
    }
}

.clear,
.loading {
    position: absolute;
    right: calc(var(--search-button-width) + 16px);
    top: 50%;
    transform: translateY(-50%);
    color: rgba(22, 24, 35, 0.34);
}

.loading {
    animation: spin 1s linear infinite;
}

@keyframes spin {
    from {
        transform: translateY(-50%) rotate(0);
    }

    to {
        transform: translateY(-50%) rotate(360deg);
    }
}

.search-btn {
    width: var(--search-button-width);
    height: 100%;
    border-top-right-radius: var(--search-border-radius);
    border-bottom-right-radius: var(--search-border-radius);
    font-size: 1.8rem;
    color: rgba(22, 24, 35, 0.34);

    &:hover {
        cursor: pointer;
        background-color: rgba(22, 24, 35, 0.03);
    }

    &:active {
        background-color: rgba(22, 24, 35, 0.06);
    }
}

.search-label {
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    color: rgba(22, 24, 35, 0.5);
    padding: 5px 12px;
}

.text-result,
.view-all {
    padding: 14px 16px;
    cursor: pointer;

    &:hover {
        background: rgba(22, 24, 35, 0.03);
    }

    svg {
        font-size: 12px;
        margin-right: 8px;
    }
}
